<footer class="container-fluid bg-dark text-light-subtle py-4 px-3 ">
    <div class="row justify-content-between">
        <p class="col col-sm-3 text-start">&copy;2025 Company Name. All rights reserved.</p>
        <div class="col col-sm-3 text-end">
            <a href="{{ url_for('web.public_pages.terms') }}"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms of
                Service</a> |
            <a href="{{ url_for('web.public_pages.privacy') }}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Privacy Policy</a>
        </div>

    </div>
</footer>