{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<main>

  <h1>Dashboard (Protected Page)</h1>

  <p>Welcome {{ session['user']['name'] }} <br> {{ session['user']['email'] }} <br> <img src={{
      session['user']['picture'] }} alt="" srcset=""></p>

  <p>This is a protected page that requires authenication to view.</p>

  <p>Use this template to create and customize more protected pages for your app.</p>

</main>
{% endblock %}

{% block scripts %}

<!-- <script src="{{ url_for('static', filename='js/login-auth.js') }}" type="module"></script> -->
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="module"></script>
<!-- <script src="{{ url_for('static', filename='js/mediapipe.js') }}" type="module"></script> -->
{% endblock %}