{% extends "base.html" %}


{% block meta %}
<meta name="description" content="Dashboard page for authenticated users.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main>

  <div class="card w-100 p-3 shadow-sm" >
    <div class="card-body">
      <h1 class="card-title mb-4">Dashboard (Protected Page)</h1>
      <div class="ps-3">
        <h5 class="card-subtitle mb-2 text-body-secondary">Welcome <span id="username"></span></h5>
        <p class="card-text">Use this template to create and customize more protected pages for your app.</p>
        <button id="get-start-mediapipe" type="button"
          class="btn btn-primary d-flex px-4 py-2 align-items-end mx-auto me-4">
          Get Started
        </button>
      </div>
    </div>
  </div>

</main>
{% endblock %}

{% block scripts %}

<!-- <script src="{{ url_for('static', filename='js/login-auth.js') }}" type="module"></script> -->
<!-- <script src="{{ url_for('static', filename='js/scripts.js') }}" type="module"></script> -->
<!-- <script src="{{ url_for('static', filename='js/user.js') }}" type="module"></script> -->

<script src="{{ url_for('static', filename='js/mediapipe.js') }}" type="module"></script>

<script>
  $('#username').text(userData.name);
  $('#get-start-mediapipe').click(function () {
    mediapipeInit();
  });
// </script>


{% endblock %}