{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}

<main>

  <div class="auth-page_container">

    <div class="login-form-container" id="reset-password-view">

      <div class="login-form">
        <h2>Reset Password</h2>

        <div class="input-group">
          <input type="email" id="email-forgot-password" name="email" placeholder="Enter Your Email" required>
          <div id="email-error-message" class="error-msg"></div>
        </div>

        <div id="forgot-password-btn" class="login-btn">Submit</div>


      </div>

    </div>

    <button id="back-to-login-btn" onclick="window.location='/login'" class="login-link-btn">Back to Login</button>

    <div id="reset-password-confirmation-page" style="display: none;">
      <h2>Password Reset Email Sent</h2>
      <p>Please check your email for instructions on how to reset your password.</p>
      <a href="{{ url_for('web.public_pages.login') }}">Return to Login page</a>
    </div>

  </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/login-auth.js') }}" type="module"></script>
{% endblock %}