{% extends 'base.html' %}

{% block head %}
<!-- Google reCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/api.js?render=6Le02RwrAAAAACGs5Q656Fd4aqz6R1lamKIcgx3A"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

<main>

  <div class="auth-page_container">

    <div class="login-form-container">

      <div class="login-form">
        <h2>Login</h2>

        <div class="input-group">
          <input type="email" id="email-input" name="email" placeholder="Email" required autocomplete="email">
          <div id="email-error-message" class="error-msg"></div>
        </div>

        <div class="input-group">
          <input type="password" id="password-input" name="password" placeholder="Password" required autocomplete="current-password">
          <div id="password-error-message" class="error-msg"></div>
        </div>

        <div id="sign-in-btn" class="login-btn">Sign In</div>

        <div class="alt-signin-divider">OR</div>


        <button id="sign-in-with-google-btn" class="google-login-btn">
          <img type="image/svg+xml" src="{{ url_for('static', filename='img/icons8-google.svg') }}" alt="Google Sign-in"
            class="google-btn-logo">
          Sign in with Google</button>

        <div id="google-signin-error-message" class="error-msg"></div>

        <div class="signup-link-container">Don't have an account? <a
            href="{{ url_for('web.public_pages.signup') }}">Sign up</a></div>
        <div class="signup-link-container"><a href="{{ url_for('web.public_pages.reset_password') }}">Forgot
            Password?</a></div>
      </div>

    </div>

  </div>

</main>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login-auth.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="module"></script>

{% endblock %}